* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-image: url(gradient-orange-abstract-composition-with-colour-papers.jpg);
    background-position: center;
    background-size: cover;
  }

  .container {
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
  }

  h2 {
    color: #333;
    margin-bottom: 20px;
  }

  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #cb9311;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    transition: 0.3s;
  }

  input[type="text"]:focus {
    border-color: #fc9025;
  }

  .add-btn {
    padding: 10px 20px;
    background-color: #cb8d11;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
  }

  .add-btn:hover {
    background-color: #fca625;
  }

  ul {
    list-style-type: none;
    margin-top: 20px;
    padding: 0;
  }

  li {
    background-color: #f4f4f4;
    color: #333;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    transition: 0.3s;
  }

  li:hover {
    background-color: #ddd;
  }

  .delete-btn {
    background-color: #ef972d;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s;
  }

  .delete-btn:hover {
    background-color: #a2791b;
  }